main {
	color: #1f77b4;
	color: #aec7e8;
	color: #ff7f0e;
	color: #ffbb78;
	color: #2ca02c;
	color: #98df8a;
	color: #d62728;
	color: #ff9896;
	color: #9467bd;
	color: #c5b0d5;
	color: #8c564b;
	color: #c49c94;
	color: #e377c2;
	color: #f7b6d2;
	color: #7f7f7f;
	color: #c7c7c7;
	color: #bcbd22;
	color: #dbdb8d;
	color: #17becf;
	color: #9edae5;
}
