@import 'tailwindcss';

@theme {
	--font-sans: 'Geist', sans-serif;
	--font-mono: 'Geist Mono', monospace;

	--color-primary: #2b7fff;
	--color-border: oklch(87.2% 0.01 258.338);
}

@layer utilities {
	.center {
		@apply flex items-center justify-center;
	}
}

@layer base {
	:root {
		@apply bg-gray-100 text-gray-900;
		font-optical-sizing: auto;
		overflow: hidden;
	}
	button {
		@apply cursor-pointer transition-all;
	}
}

@layer components {
	.select {
		@apply h-10.5 w-full cursor-pointer appearance-none rounded-lg border border-border bg-white px-4 font-medium transition-all outline-none focus:border-primary focus:ring-2 focus:ring-primary/20;
	}
	.input {
		@apply h-9 w-12 rounded-lg border border-border bg-white text-center font-medium outline-none focus:border-primary focus:ring-2 focus:ring-primary/20;
		&.error {
			@apply border-red-500 bg-red-50 text-red-500 focus:ring-red-500/20;
		}
	}
	.btn {
		@apply flex h-10.5 items-center justify-center gap-2 rounded-lg px-3 leading-none font-semibold active:scale-95;
		& > svg {
			@apply size-4 stroke-[2.5];
		}
		&.secondary {
			@apply bg-gray-200;
		}
		&.primary {
			@apply bg-primary text-gray-50;
		}
		&.ghost {
			@apply hover:bg-gray-200;
		}
	}
	.btn-icon {
		@apply rounded-md p-1 active:scale-95;
		& > svg {
			@apply size-4 stroke-[2.5];
		}
		&.secondary {
			@apply bg-gray-200;
		}
		&.ghost {
			@apply hover:bg-gray-200;
		}
	}
	.range-input {
		@apply pointer-events-none absolute h-1.5 w-full appearance-none bg-transparent;
	}

	.range-input::-webkit-slider-thumb {
		@apply pointer-events-auto size-5 cursor-pointer appearance-none rounded-full border-2 border-primary bg-white shadow-md transition-transform active:scale-110;
	}

	input[type='range']::-webkit-slider-thumb {
		@apply size-5 appearance-none rounded-full border-2 border-primary bg-white shadow-md transition-transform active:scale-110;
	}

	/* .btn {
		@apply cursor-pointer rounded-lg px-5 py-2 font-semibold transition-all active:scale-98;
		&.btn-primary {
			@apply bg-blue-600 text-white shadow-lg hover:bg-blue-700 disabled:bg-blue-200;
		}
		&.btn-secondary {
			@apply bg-gray-200 text-gray-700 hover:bg-gray-300;
		}
		&:disabled {
			@apply cursor-not-allowed shadow-none;
		}
	}
	.error {
		@apply mb-6 rounded-lg border border-red-200 bg-red-100 p-3 text-sm font-medium text-red-700;
	}
	.tooltip {
		@apply pointer-events-none fixed z-50 flex max-w-64 flex-col gap-1 rounded-lg bg-slate-800 px-3 py-1.5 text-xs font-bold text-white shadow-xl transition-transform;
	}
	.layer-btn {
		@apply flex items-center gap-2 rounded-md px-2 py-1 text-[11px] font-medium text-gray-500 transition-all hover:bg-gray-100;
	}
	.layer-btn.active {
		@apply bg-blue-50 text-blue-600;
	} */
}
